/* Font APIs */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Layout HTML Predefinito */

html, body {
	padding: 0;
	font-family: 'Open Sans';
	background: #1c1c1c;
	color: white;
	margin: 0;
	height: 100%;
}

body {
	display: flex;
}

body main {
	width: 100%;
	margin-left: 274px;
}

.shodan-logo {
    background-image: url(../Static/Assets/Logo.png);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    opacity: 0.75;
    transition: 0.1s;
    background-position: center;
    background-size: 80%;
    margin-left: -3.5px;
}

.loader {
	margin: auto;
  	border: 8px solid #171717;
  	border-top: 8px solid #c900d3;
  	border-radius: 50%;
  	width: 60px;
  	height: 60px;
  	animation: spin 2s linear infinite;
}

.loader-lowered {
	margin-top: 100px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Links */

a {
	color: #b72cae;
	font-weight: 500;
	text-decoration: none;
}

a:hover {
	color: #ff71f7;
}

/* Bottoni */

.button {
	padding: 7.5px 32.5px 7.5px 32.5px;
	color: white;
	font-weight: 600;
	display: inline-block;
	transition: 0.3s;
	font-size: 16px;
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 1px 3.5px #171717;
}

.button--status {
	cursor: default;
	background: #54b2ff;
	display: none;
	margin-top: 10px;
}

.button--alternative {
	background: #b72cae;
}

.button--submit {
	background: #b72cae;
}

.button--submit:hover {
	background: #ff71f7;
}

.button--danger {
	background: #cc0000;
}

.button--danger:hover {
	background: #ff5e5e;
}

.button--unshadow {
	box-shadow: none !important;
}

/* Navbar */

body nav {
	height: 100%;
	width: 275px;
	left: 0;
	background: #171717;
	z-index: 1;
	position: fixed;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body nav .selected {
	background: #1c1c1c;
}

body nav #nav-logo-container {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 25px 0 25px;
}

body nav #nav-logo-container #nav-logo {
	cursor: pointer;
	transition: 0.3s;
	background-size: 100%;
	height: 50px;
}

body nav #nav-logo-container #nav-logo:hover {
	filter: brightness(1.5);
}

body nav #nav-items,
body nav #nav-items #roles-link #roles-items {
	padding: 10px;
}

body nav #nav-items #cart-link .cart-quantity i,
body nav #nav-items #roles-link .role-selector-icon i {
	margin: 0;
	margin-left: 10px;
}

body nav #nav-items #roles-link .role-selector-icon i {
	transition: 0.3s;
}

.rotate-icon {
	transform: rotate(180deg);
}

body nav #nav-items #settings-link i {
	margin-left: 2.5px;
}

body nav #nav-items #cart-link .cart-quantity,
body nav #nav-items #roles-link .role-selector-icon {
	padding-left: 5px;
    padding-right: 5px;
    float: right;
}

body nav #nav-items #cart-link .cart-quantity .cart-quantity-value {
	display: none;
}

body nav #nav-items i {
	margin-right: 5px;
}

body nav #nav-items div,
body nav #nav-items #roles-link #roles-items .role-item {
	margin-bottom: 5px;
	color: white;
	text-decoration: none;
	font-weight: 600;
	padding: 10px;
	margin-bottom: 4px;
	cursor: pointer;
	border-radius: 3px;
}

#roles-placeholder {
	padding: 0 !important;
	transition: 0s !important;
	background: inherit;
	margin: 0;
}

body nav #nav-items div:hover {
	background: #1c1c1c;
}

#roles-link {
	transition: 0s !important;
}

#roles-items {
	display: none;
	padding-bottom: 0 !important;
}

#roles-items div:hover {
	background: #171717 !important;
}

body nav #nav-items div span {
	/*margin-left: 5px;*/ 
}

body nav #nav-close {
	position: absolute;
	transition: 0.2s;
	top: 50%;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background: #1C1C1C;
	right: 0;
	margin-right: -12.5px;
	display: flex;
	cursor: pointer;
	color: #0f0f0f;
	justify-content: center;
	align-items: center;
}

body nav #nav-close:hover {
	background: #212121;
	color: #FF71F7;
}

/* Sezione vuota */

body main #app .content .empty-collection {
	height: 300px;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-size: 27.5px;
	flex-wrap: wrap;
	color: grey;
	display: flex;
	flex-direction: column;
}

body main #app .content .empty-collection span {
	font-weight: 100;
	display: flex;
	align-self: center;
	margin-bottom: 3px;
	}

body main #app .content .empty-collection i {
	font-size: 30px;
	display: flex;
	justify-content: center;
}

/* Dashboard > Gioco in evidenza */

body main #app .featured {
	background-image: url('../Static/Assets/Featured.jpg');
	height: 300px;
}

body main #app .featured .featured-text-outer {
	background: linear-gradient(to right, transparent 0%, black 35%);
	height: 100%;
	width: 80%;
	float: right;
	text-align: right;
	display: flex;
    align-items: center;
    justify-content: center;
}

body main #app .featured .featured-text-outer .featured-text-inner {
	font-size: 15px;
	margin-left: 20%;
}

body main #app .featured .featured-text-outer .featured-text-inner strong  {
	font-size: 17px;
}

/* Dashboard > Contenuto principale */

body main #app .content {
	padding: 10px 25px 25px 25px;
}

body main #app .content .games {
	display: flex;
	min-height: 320px;
	flex-wrap: wrap;
	padding-bottom: 25px;
}

body main #app .content .game-confirm,
body main #app .content .cart-status {
	background: #96158d;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: none;
    margin-left: 12px;
}

body main #app .content h1 {
	margin-left: 10px;
}

body main #app .content h1 i {
	margin-right: 10px;
}

/* Giochi */

body main #app .content .games a {
	color: white;
}

body main #app .content .games .game-add {
	background: #b72cae;
    color: white;
    font-weight: 700;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    right: 0;
    position: absolute;
    margin-top: -5px;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    margin-right: -5px;
}

body main #app .content .games .game-container {
	height: 300px;
	width: 200px;
	box-shadow: 0px 0px 3px black;
	opacity: 0.9;
	cursor: pointer;
	background-size: cover;
	position: relative;
	margin: 0 15px 15px 15px;
}

body main #app .content .games .game-container:hover {
	opacity: 1;
}

body main #app .content .games .game-container .game-overlay {
	background: black;
	display: block;
	position: absolute;
	opacity: 0.7;
	width: 100%;
	bottom: 0;
	text-align: center;
	color: white;
	display: block;
	text-decoration: none;
	font-weight: 500;
}

/* Notizie  */

body main #app .content .blog {
	padding-bottom: 35px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

body main #app .content .blog .article-container {
	padding-right: 20px;
	padding-bottom: 20px;
	flex: 0 0 31%
}

body main #app .content .blog .article-container .article {
	min-width: 250px;
	min-height: 93%;
    background: #171717;
    padding: 10px;
    box-shadow: 0px 0px 2px black;
}

body main #app .content .blog .article-container .article h1 {
	text-align: center;
}

body main #app .content .blog .article-container .article span {
	cursor: pointer;
	color: #ff71f7;
	font-weight: 600;
	padding-left: 15px;
	margin-bottom: 15px;
    display: block;
}

body main #app .content .blog .article-container .article div {
	padding: 15px;
}

body main #app .content .blog .article-container .article span i {
	margin-right: 10px;
}

/* Game Page */

body main #app .content #game-page h1 i {
	margin-right: 10px !important;
}

body main #app .content #game-page .game-flex {
	display: flex;
}

body main #app .content #game-page .game-info-container {
	width: 50%;
}

body main #app .content #game-page .game-info-container p {
	padding: 10px;
	margin: 0;
}

body main #app .content #game-page .game-info-container .game-price {
	color: #81f966;
	font-size: 40px;
	font-weight: 700;
}

body main #app .content #game-page .game-info-container .game-release-date {
	font-family: 'Monofonto';
	font-size: 22.5px;
}

body main #app .content #game-page .game-info-container .game-description {
	font-size: 17.5px;
	text-align: justify;
}

body main #app .content #game-page .game-info-container .button {
	margin: 10px 0px 0 10px;
}

body main #app .content #game-page .game-image-container {
	width: 50%;
}

body main #app .content #game-page .game-image-container .game-image {
	height: 500px;
	width: 350px;
	background-size: cover;
	box-shadow: 0px 0px 2px black;
	margin: auto;
}

/* Blog Page */

body main #app .content #blog-page h1 i {
	margin-right: 10px;
}

body main #app .content #blog-page .blog-short-title {
	color: grey;
	font-size: 13px;
	margin-left: 10px;
    margin-bottom: 30px;
    display: block;
    margin-top: -10px;
}

body main #app .content #blog-page .blog-html {
	text-align: justify;
	margin-left: 10px;
	font-size: 16px;
}

/* Settings Page */

body main #app .content #settings-page .button {
	padding: 5px;
}

body main #app .content #settings-page input {
	display: block;
	margin-bottom: 7.5px;
	width: 100%;
	padding: 5px;
	padding-right: 0;
	text-align: center;
	padding-left: 0;
	border: 0;
	border-radius: 1px;
}

body main #app .content #settings-page .settings-routines .settings-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

body main #app .content #settings-page .settings-routines .settings-status {
	margin-bottom: 10px;
	display: none;
	padding: 10px;
}

body main #app .content #settings-page .set-info {
	min-width: 40%;
	padding-right: 50px;
}

body main #app .content #settings-page .set-info .settings-money {
    min-height: 20px;
    display: block;
	font-size: 15px;
	cursor: default;
    padding: 10px;
}

body main #app .content #settings-page .set-info .psw-form h2 {
	margin-top: 27px;
}

body main #app .content #settings-page .set-avatar .avatar {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin: auto;
	background-size: cover;
}

/* Cart */

body main #app .content #cart {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

body main #app .content #cart-container #cart .cart-picture-col {
	width: 25%;
} 

body main #app .content #cart-container #cart .cart-picture-col img {
	width: 35%;
} 

body main #app .content #cart-container #cart .cart-title-col p {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 0;
} 

body main #app .content #cart-container #cart .cart-title-col span {
	font-size: 17.5px;
} 

body main #app .content #cart-container #cart .cart-price-col {
	font-size: 27.5px;
	font-weight: 600;
} 


body main #app .content .cart-buttons {
	padding: 15px;
}

body main #app .content .cart-buttons .button--danger {
	margin-left: 7.5px;
}


body main #app .content #cart-container #cart .first-row,
body main #app .content #cart-container #cart .last-row {
	font-weight: 600;
	font-size: 18.5px;
	background: #171717;
}

body main #app .content #cart-container #cart .last-row {
	font-size: 22.5px;
}

body main #app .content #cart tr {
	border-bottom: 1px solid #171717;
	margin-bottom: 2px;
	background: #262626;
}

body main #app .content #cart tr td {
	padding: 7px;
}

/* Empty View */

.empty-view {
	font-size: 40px;
	text-align: center;
	margin-top: 15px;
	color: grey;
	width: 100%;
}

.empty-view div {
	font-size: 25px;
	font-weight: 200;
}

/* Responsive Design */

@media screen and (max-width: 1350px) {
	body {
		overflow-x: hidden;
	}
	
	body main #app .featured {
		display: none;
	}
	
	.game-flex {
		flex-direction: column;
	}
	
	body main #app .content #game-page .game-info-container {
		width: 100%;
	}
	
	body main #app .content #game-page .game-image-container .game-image {
	    margin-top: 15px !important;
	    
    }
    
    body main #app .content #game-page .game-info-container .game-release-date {
    	font-size: 20.5px !important;
    }
}

@media screen and (max-width: 500px) {
	body main #app .content #game-page .game-info-container .game-description {
		margin-right: 10px;
	}
	
	body main #app .content #game-page .game-image-container {
	   	width: 100%;
    }
	
	body main #app .content #game-page .game-image-container .game-image {
    	height: 400px;
    	width: auto;
    	background-size: 100% 100%;
    	margin-right: 15px;
    }
}